<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bb737d">  <td>20/07/12 22:16:05</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCase9.initiatedriver()[pri:0, instance:ProjectActivity.TestCase9@4ac3c60d]">&gt;&gt;initiatedriver</td> 
<td>&nbsp;</td>  <td>main@712609105</td>   <td></td> </tr>
<tr bgcolor="bb737d">  <td>20/07/12 22:16:21</td>   <td>16248</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase9.VerifyFirstInfoBox()[pri:1, instance:ProjectActivity.TestCase9@4ac3c60d]">VerifyFirstInfoBox</td> 
  <td>main@712609105</td>   <td></td> </tr>
<tr bgcolor="bb737d">  <td>20/07/12 22:17:00</td>   <td>55545</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCase9.close()[pri:0, instance:ProjectActivity.TestCase9@4ac3c60d]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@712609105</td>   <td></td> </tr>
</table>
